.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes doubleSpin {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes leftToLeft {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}

@keyframes topToTop {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
}

@keyframes fadeBottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}
